<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <div id="app">
        <input v-model="colours" type="text" name="u_name" placeholder="Enter your name" v-model="u_name">
        <p> Your name in uppercase is: {{u_name | uppercase}}</p>
        <form v-on:submit.prevent="submit" action="" method="GET">
            <h2>What are your favorite colours?</h2>
            <input v-model="colours" type="checkbox" id="db" value="Dark Blue">
            <label for="db"> Dark-Blue</label>
            <input v-model="colours" type="checkbox" id="yl" value="Yellow">
            <label for="yl"> Yellow</label>
            <input v-model="colours" type="checkbox" id="gr" value="Green">
            <label for="gr"> Green</label>
            <input v-model="colours" type="checkbox" id="rd" value="Red">
            <label for="rd">Red</label>
            <input v-model="colours" type="checkbox" id="or" value="Orange">
            <label for="or"> Orange</label>
            <input v-model="colours" type="checkbox" id="bl" value="Black">
            <label for="bl">Black</label>
            <input v-model="colours" type="checkbox" id="br" value="Brown">
            <label for="br"> Brown</label>
            <button type="submit">
                Send
            </button>
        </form>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script type="text/javascript">
        let app = new Vue({
            el: '#app',
            data: {
                u_name: '',
                colours: []
            },
            filters: {
                uppercase:
                    function (str) {
                        return str.toUpperCase()
                    }

            },
            methods: {
                submit: function () {
                    console.log('The submit method is executed')
                    console.log(this.colours)
                }
            }
        })
    </script>
</body>

</html>